body {
  display: flex;
  justify-content: start;
}

#input-form-container {
  height: 842px;
  width: 595px;
  border: 1px solid darkblue;

  display: flex;
  flex-direction: column;
}

input {
  width: 80%;
  margin: .3rem;
}